---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import SearchableIndex from '../components/SearchableIndex';
import { getAllCharacterData } from '../utils/database';

const allCharacters = await getAllCharacterData();

const characters = Array.from(allCharacters.values());

const initialClasses = new Set<string>();
const rhymeClasses = new Set<string>();

characters.forEach(char => {
  if (char.initial_class) initialClasses.add(char.initial_class);
  if (char.rhyme_class) rhymeClasses.add(char.rhyme_class);
});
---

<Layout title="Tangut Explorer - Unicode Character Database">
  <div class="min-h-screen">
    <Header />
    
    <main id="main-content" class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 py-12">

      <!-- Searchable Index -->
      <div class="mb-12">
        <SearchableIndex client:load />
      </div>
    </main>
  </div>
</Layout>
